@page "/itemUpload"
@using Bakery.ClassLibrary.Services;
@using Bakery.WebApp.Data;
@inject IItemTypeService _itemservice;
@inject ICategoryService _categoryservice;
@inject ISizeService _sizeservice;
@rendermode InteractiveServer


<h3>Add an Item</h3>

<div class="form-group">
    <label for="item">Item Name:</label>
    <input type="text" class="form-control" id="item" @bind="ItemName">
</div>

<div class="form-group">
    <label for="item-p">Item Price:</label>
    <input type="number" class="form-control" id="item-p" @bind="ItemPrice">
</div>

<div class="form-group">
    <label for="item-c">Item Calories:</label>
    <input type="number" class="form-control" id="item-c" @bind="ItmeCalories">
</div>

<div class="form-group">
    <label for="item-w">Item Weight:</label>
    <input type="number" class="form-control" id="item-w" @bind="ItemWeight">
</div>

<div class="form-group">
    <label for="item-d">Item Description:</label>
    <input type="text" class="form-control" id="item-d" @bind="ItemDescription">
</div>

<label for="item-s">Item Size</label>
<select class="form-select" aria-label="Default select example" id="item-s" @bind="ItemSizeId">
    <option selected>Select a size</option>
    @foreach(var size in sizes)
    {
        <option value=@size.SizeId>@size.SizeName</option>
    }
</select>

<label for="item-ca">Item Category</label>
<select class="form-select" aria-label="Default select example" id="item-ca" @bind="ItemCategoryId">
    <option selected>Select a category</option>
    @foreach (var category in categories)
    {
        <option value=@category.CategoryId>@category.CategoryName</option>
    }
</select>

<button type="button" class="btn btn-primary btn-lg" @onclick="() => AddItem()">Submit</button>

<div>
    @ItemPrice
</div>


@code {
    List<Size> sizes = new();
    List<Category> categories = new();
    Itemtype? item;
    string? ItemName = "";
    decimal? ItemPrice;
    int? ItmeCalories;
    decimal? ItemWeight;

    string? ItemDescription = "";
    int ItemSizeId = new();
    int ItemCategoryId = new();

    protected override async Task OnInitializedAsync()
    {
        sizes = (await _sizeservice.GetAllSizes()).ToList<Size>();
        categories = (await _categoryservice.GetAllCategories()).ToList<Category>();
        item = new Itemtype();
    }

    public async Task AddItem()
    {
        
    }

}
