@page "/"

<div class="frame">
    <div class="div">
        <div class="video-container">
            <video autoplay muted loop id="background-video">
                <source src="https://kakeybakerystorage.blob.core.windows.net/itemcontainer/indexVideo.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <div class="overlap-group">
                <div class="overlap-2">
                    <div class="quick-fresh">Quick, Fresh &amp;<br />Delicious</div>
                    <div class="overlap">
                        <a href="menuContents">
                            <button>
                                <div class="text-wrapper">Menu</div>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>