.content {
    object-fit: cover;
    object-position: center;
}


.frame {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center; /* Added to center content vertically */
    width: 95.5vw; /* Using viewport width to cover the whole screen */
    height: 94vh; /* Using viewport height to cover the whole screen */
    margin: 0;
    width:100%;
    height: 100vh;

}

.frame .div {
    background-color: #ffffff;
    overflow: hidden;
    width: 100%; /* Adjusted to cover the whole screen */
    height: 100%; /* Adjusted to cover the whole screen */
    position: relative;
}


.frame .overlap {
    position: absolute;
    width: 156px;
    height: 108px;
    top: 57px;
    left: calc(50% + 418px); /* Adjusted based on the new screen width */
    background-color: #ed95ab;
    border-radius: 45px 45px 45px 0px;
    box-shadow: 0px 0px 15px #00000040;
}

.frame .overlap-2 {
    position: absolute;
    width: 516px;
    height: 317px;
    top: calc(100% - 317px - 20px); /* Adjusted based on the new screen height */
    left: 38px;
}

.frame .text-wrapper {
    position: absolute;
    top: 26px;
    left: 36px;
    font-family: "Futura Bk BT-Book", Helvetica;
    font-weight: 400;
    color: #232323;
    font-size: 45px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.frame .quick-fresh {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Futura Bk BT-Book", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 5vw; /* Adjusted font size to be relative to viewport width */
    letter-spacing: 0;
    line-height: normal;
}

.frame .rectangle {
    position: absolute;
    width: 9.9vw; /* Adjusted width to be relative to viewport width */
    height: 8.4vw; /* Adjusted height to be relative to viewport width */
    top: 16vw; /* Adjusted top position to be relative to viewport width */
    left: 1.9vw; /* Adjusted left position to be relative to viewport width */
}


.frame .text-wrapper-2 {
    position: absolute;
    top: 22vw; /* Adjusted top position to be relative to viewport width */
    left: 5.6vw; /* Adjusted left position to be relative to viewport width */
    font-family: "Futura Bk BT-Book", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 2.8vw; /* Adjusted font size to be relative to viewport width */
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.video-container {
    /*position: absolute;*/
    position:page;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

    .video-container video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.frame .overlap-group {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.frame .line,
.frame .img,
.frame .line-2 {
    position: absolute;
    width: 136px;
    height: 1px;
    top: calc(50% - 0.5px); /* Adjusted to center vertically */
}

.frame .line {
    left: calc(50% - 1224px); /* Adjusted to center horizontally */
}

.frame .img {
    left: calc(50% - 1057px); /* Adjusted to center horizontally */
}

.frame .line-2 {
    left: calc(50% - 884px); /* Adjusted to center horizontally */
}



.overlap {
    position: relative;
    padding: 2vw 4.4vw; /* Adjusted padding to be relative to viewport width */
    border-radius: 2.4vw; /* Adjusted border radius to be relative to viewport width */
    border: none;
    color: #fff;
    cursor: pointer;
    background-color: #ed95ab;
    transition: all 0.2s ease;
}

.overlap:active {
    transform: scale(0.96);
}

.overlap:before,
.overlap:after {
    position: absolute;
    content: "";
    width: 150%;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1000;
    background-repeat: no-repeat;
}

.overlap:hover:before {
    top: -70%;
    background-image: radial-gradient(circle, #ed95ab 20%, transparent 20%), radial-gradient(circle, transparent 20%, #ed95ab 20%, transparent 30%), radial-gradient(circle, #ed95ab 20%, transparent 20%), radial-gradient(circle, #ed95ab 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ed95ab 15%, transparent 20%), radial-gradient(circle, #ed95ab 20%, transparent 20%), radial-gradient(circle, #ed95ab 20%, transparent 20%), radial-gradient(circle, #ed95ab 20%, transparent 20%), radial-gradient(circle, #ed95ab 20%, transparent 20%);
    background-size: 10vw 10vw, 20vw 20vw, 15vw 15vw, 20vw 20vw, 18vw 18vw, 10vw 10vw, 15vw 15vw, 10vw 10vw, 18vw 18vw; /* Adjusted background size to be relative to viewport width */
    background-position: 50% 120%;
    animation: greentopBubbles 0.6s ease;
}

@keyframes greentopBubbles {
    0% {
        background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    }

    50% {
        background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
    }

    100% {
        background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

.overlap:hover::after {
    bottom: -70%;
    background-image: radial-gradient(circle, #ed95ab 20%, transparent 20%), radial-gradient(circle, #ed95ab 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ed95ab 15%, transparent 20%), radial-gradient(circle, #ed95ab 20%, transparent 20%), radial-gradient(circle, #ed95ab 20%, transparent 20%), radial-gradient(circle, #ed95ab 20%, transparent 20%), radial-gradient(circle, #ed95ab 20%, transparent 20%);
    background-size: 15vw 15vw, 20vw 20vw, 18vw 18vw, 20vw 20vw, 15vw 15vw, 20vw 20vw, 18vw 18vw; /* Adjusted background size to be relative to viewport width */
    background-position: 50% 0%;
    animation: greenbottomBubbles 0.6s ease;
}

@keyframes greenbottomBubbles {
    0% {
        background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
    }

    50% {
        background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
    }

    100% {
        background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}