@page "/about"
@using System.Diagnostics
@inject IConfiguration config
@inject PopularPagesMetric _ppmetric
@inject LoadingTimeMetric _ltmetric


<Bakery.ClassLibrary.Components.About></Bakery.ClassLibrary.Components.About>
<Map MapsKey="@MapsKey"></Map>
@if(featureFlagIsEnabled)
{
    <div>This came from a feature flag</div>
    <img src="https://kahoot.com/files/2024/01/Spongebob-633x422.webp">
}




@code {
    private string? MapsKey { get; set; }
    Stopwatch stopwatch = new Stopwatch();

    bool featureFlagIsEnabled {get; set;}
    protected override void OnInitialized()
    {
        featureFlagIsEnabled = bool.Parse(config["featureFlag"] ?? "false");
        MapsKey = config.GetValue<string>("MapKey") ?? throw new Exception("Map key is not in the secrets");
        _ppmetric.IncrementPopularPageCounter("about");

        stopwatch.Start();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if(firstRender)
        {
            stopwatch.Stop();
            _ltmetric.RecordTimeForPage("about", stopwatch.Elapsed.Milliseconds);

        }
    }

}