@page "/customizeItem/{baseItemId}"
@rendermode InteractiveServer
@using System.Diagnostics
@using Bakery.WebApp.Authentication
@inject PopularPagesMetric _ppmetric
@inject LoadingTimeMetric _ltmetric
@inject IBakeryAutheticationService _authenticationService
@inject NavigationManager NavigationManager
@inject ErrorLogger _errorloger


@if (_authenticationService.UserExists())
{
    try
    {
        <Bakery.ClassLibrary.Components.CustomizeItem baseItemId="@baseItemId"></Bakery.ClassLibrary.Components.CustomizeItem>
    }
    catch(Exception e)
    {
        _errorloger.LogErrorGenerator(e.Message);
    }
}
else
{
<div style="position: relative;">
    <video autoplay muted loop style="width: 100%; height: auto; object-fit: cover;">
        <source src="https://cdne-bakery-a0hrc8bufjbtavaz.z01.azurefd.net/itemcontainer/rain.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; color: white;">
        <h2 style="margin-bottom: 20px;">You Need to Login to start adding to the cart</h2>
        <a href="/Identity/Login" class="btn btn-pink" style="text-decoration: none; background-color: #ed95ab; color: white;">Login Now</a>
    </div>
</div>

}


@code {
    [Parameter]
    public string baseItemId { get; set; } = "";
    Stopwatch stopwatch = new Stopwatch();

    protected override void OnInitialized()
    {
        _ppmetric.IncrementPopularPageCounter("cart");

        stopwatch.Start();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            stopwatch.Stop();
            _ltmetric.RecordTimeForPage("cart", stopwatch.Elapsed.Milliseconds);

        }
    }
}