<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="Bakery.WebApp.styles.css" />
    <link rel="stylesheet" href="MenuContents.razor.css">
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="js/ShoppingCartFunctions.js"></script>
    <script src="https://www.paypal.com/sdk/js?client-id=AeDKd_Ti245mmmHxAznbLLWWQC5Oiro35OYsnNWhmzHTPPThEmVv5o8oFWvybT4XfToHhE3FRg5UDPyM&currency=USD" data-sdk-integration-source="button-factory"></script>

</body>

</html>
