@page "/customizeItem/{baseItemId}"
@using Bakery.Mobile.MauiAuth0
@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider authProvider


<AuthorizeView>
    <Authorized>
        @* Hello, @context.User.Identity.Name! *@
        <Bakery.ClassLibrary.Components.CustomizeItem baseItemId="@baseItemId"></Bakery.ClassLibrary.Components.CustomizeItem>
    </Authorized>
    <NotAuthorized>
        <AccessControl /> 
        @* <a href="#" @onclick="Login">Log in</a> *@
    </NotAuthorized>
</AuthorizeView>
@code {
    [Parameter]
    public string baseItemId { get; set; } = "";

    public async Task Login()
    {
        await ((Auth0AuthenticationStateProvider)authProvider)
            .LogInAsync();
    }

    public void Logout()
    {
        ((Auth0AuthenticationStateProvider)authProvider)
            .LogOut();
    }
}