@using Bakery.WebApp.Authentication
@inherits LayoutComponentBase
@inject IBakeryAutheticationService _authenticationService

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="topnav">
            <a class="active" href="#home">Home</a>
            <a href="/menuContents">Menu</a>
            <a href="/about">About Us</a>
           @*  <a href="/cart/{cartId}">Cart</a> *@
            @* @if(_authenticationService.GetAuthenticatedUser() is not null && _authenticationService!.GetAuthenticatedUser()?.UserRole.RoleName == "admin")
            {
                <a href="managerDashboard">Upload</a>
            } *@
            <WebLoginControl></WebLoginControl>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
