@page "/managerDashboard"
@using Bakery.WebApp.Authentication
@inject IBakeryAutheticationService _authenticationService;
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

@if( _authenticationService?.GetAuthenticatedUserRole()?.RoleName != "admin"){NavigationManager.NavigateTo("/");}

<div class="container">
    <h3>Welcome Back @_authenticationService?.GetAuthenticatedUser()?.UserName!</h3>
    <div class="button-container">
        <button @onclick='() => propertyToDisplayed = "Item"'>Add An Item</button>
        <button @onclick='() => propertyToDisplayed = "Topping"'>Add A Topping</button>
        <button @onclick='() => propertyToDisplayed = "Category"'>Add A Category</button>
        <button @onclick='() => propertyToDisplayed = "User"'>View Users</button>
    </div>
</div>


@if(propertyToDisplayed == "Item")
{
    <ItemTypeUpload></ItemTypeUpload>
}

@if(propertyToDisplayed == "Topping")
{
    <ToppingUpload></ToppingUpload>
}

@if(propertyToDisplayed == "Category")
{
    <CategoryUpload></CategoryUpload>
}

@if(propertyToDisplayed == "User")
{
    <ViewUser></ViewUser>
}

@code {
    string propertyToDisplayed {get; set;} = "";
}

