@using Bakery.ClassLibrary.Services
@using Bakery.WebApp.Data
@using Bakery.WebApp.Logic
@using Bakery.WebApp.Services
@inherits CategoryUploadBase
@inject ICategoryService _categoryservice
@inject IBlobStorageService _blobService
@rendermode InteractiveServer

<h3>Add a Category</h3>

<EditForm Model="@categoryToAdd" OnValidSubmit="AddCategory" FormName=>
    <DataAnnotationsValidator />
    <div class="form-group">
        <label>
            Category Name:
            <InputText @bind-Value="categoryToAdd!.CategoryName" class="form-control"/>
            <ValidationMessage For="@(() => categoryToAdd!.CategoryName)" class="text-danger"/>
        </label>
    </div>
    <div class="form-group">
        <label>
            Category Description:
            <InputText @bind-Value="categoryToAdd!.CategoryDescription" class="form-control"/>
            <ValidationMessage For="@(() => categoryToAdd!.CategoryDescription)" class="text-danger"/>          
        </label>
    </div>
    <div class="form-group">
        <label>
            Category File:
            <InputFile OnChange="@OnInputFileChange" single required class="form-control"/>
        </label>
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</EditForm>