@using Bakery.ClassLibrary.Services
@using Bakery.WebApp.Data
@using Bakery.WebApp.Services
@inject ICategoryService _categoryservice
@inject IBlobStorageService _blobService
@rendermode InteractiveServer

<h3>Add a Category</h3>

<EditForm Model="@categoryToAdd" OnValidSubmit="AddCategory" FormName=>
    <DataAnnotationsValidator />
    <div class="form-group">
        <label>
            Category Name:
            <InputText @bind-Value="categoryToAdd!.CategoryName" class="form-control"/>
            <ValidationMessage For="@(() => categoryToAdd!.CategoryName)" class="text-danger"/>
        </label>
    </div>
    <div class="form-group">
        <label>
            Category Description:
            <InputText @bind-Value="categoryToAdd!.CategoryDescription" class="form-control"/>
            <ValidationMessage For="@(() => categoryToAdd!.CategoryDescription)" class="text-danger"/>          
        </label>
    </div>
    <div class="form-group">
        <label>
            Category File:
            <InputFile OnChange="@OnInputFileChange" single required class="form-control"/>
        </label>
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</EditForm>

@code {
    public Category? categoryToAdd {get; set;} = new();
    private List<IBrowserFile> loadedFiles = new();
    IReadOnlyList<IBrowserFile>? selectedFiles;
    private List<FileUploadViewModel> fileUploadViewModels = new();
    private void OnInputFileChange(InputFileChangeEventArgs e)
    {
        selectedFiles = e.GetMultipleFiles();

        this.StateHasChanged();
    }
    public async Task AddCategory()
    {
        if(categoryToAdd is not null)
        {
            await _categoryservice.AddCategory(categoryToAdd);

            await OnUploadSubmit();
        }
    }
    private async Task OnUploadSubmit()
    {
        if(selectedFiles is not null)
        {
            foreach (var file in selectedFiles)
            {
                var trustedFileNameForFileStorage = categoryToAdd?.CategoryName??"".Replace(" ", "");
                var blobUrl = await _blobService.UploadFileToBlobAsync(trustedFileNameForFileStorage, file.ContentType, file.OpenReadStream(20971520));
                if (blobUrl != null)
                {
                    FileUploadViewModel fileUploadViewModel = new FileUploadViewModel()
                        {
                            FileName = trustedFileNameForFileStorage,
                            FileStorageUrl = blobUrl,
                            ContentType = file.ContentType,
                        };

                    fileUploadViewModels.Add(fileUploadViewModel);
                }
            }
        }
    }

}