<body>

<div class="about-section">
  <h1>About Our Bakery</h1>
  <p>Quick And Fresh</p>
  <p>Deliciously handcrafted, simply irresistible.</p>
</div>

<div class="content">
    <div class="about">
        <div class="text">
            <h2>About Us</h2>
            <h5>Kakey <span>Bakery</span></h5>
                <p>
                    At Kakey Bakery, we're all about the simple pleasure of freshly baked goods. From warm bread to delightful pastries, each treat is made with care and quality ingredients.

                    Our passion is bringing people together through the joy of great food. Whether it's a morning pick-me-up or a special celebration, we're here to make every moment a little sweeter.

                    Step into our bakery and experience the warmth of our delicious creations. Thank you for letting us be a part of your day.
                </p>
        </div>
    </div>
    <div class="video">
        <video autoplay muted loop id="background-video">
            <source src="https://videos.pexels.com/video-files/3992584/3992584-uhd_4096_2160_25fps.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
</div>


<h2 style="text-align:center">Enjoy</h2>
<div class="d-flex justify-content-center">
  <div class="column">
    <div class="card">
      <img src="https://kakeybakerystorage.blob.core.windows.net/itemcontainer/menuPicAboutPage.jpg" alt="menu" style="width:100%">
      <div class="container">
        <h2>Our Menu</h2>
        <p class="title">Fresh</p>
        <p>Delightful Creations: Simply Irresistible</p>
        <p>Kakey Bakery</p>
        <p><button class="button">Menu</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="https://images.pexels.com/photos/7190703/pexels-photo-7190703.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="home" style="width:100%">
      <div class="container">
        <h2>Home</h2>
        <p class="title">Home Page</p>
        <p>Enjoy for your special day!!</p>
        <p>Ephraim, Utah</p>
        <p><button class="button">Home</button></p>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img src="https://images.pexels.com/photos/7201204/pexels-photo-7201204.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Local" style="width:100%">
      <div class="container">
        <h2>Local</h2>
        <p class="title">Local Information</p>
        <p>You can visit us, Ephraim Utah</p>
        <p>(435)312-4566</p>
        <p><button class="button">Order Now!</button></p>
      </div>
    </div>
  </div>
</div>
</body>
