.item-itemcnt{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    gap: 2ch;
}

.item-cnt{
    display: block;
    flex-grow: 1;

    width: 30%;
    max-height: 20ch;

    background-color: #FAE8D4;
    display: grid;

    grid-template-areas:
    'img ttl'
    'img bar'
    'img rmv';

    padding: 2ch;
    gap: 2ch;
    border-radius: 3ch;

    grid-template-rows: 15% 30% 30%;
    grid-template-columns: 40% 50%; 
}

.item-img { 
    grid-area: img;
    max-height: 100%;
    max-width: 100%;
}

.item-ttl { 
    grid-area: ttl;
    font-family: 'Futura Bk BT';
    
    overflow: hidden;
}


.item-bar { 
    grid-area: bar;
    background-color: #EC9E49;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 3ch 3ch 0ch 3ch;    

    max-width: 60%;
    max-height: 100%;

    box-shadow: 0 2px 4px black; 
}

.item-btn{
    border: none;
    color: white;
    display: inline; 
    background: none;
    width: 33%;

    font-size: x-large;
}

.item-ct{
    background-color:#FAE8D4;
    display: inline; 
    width: 33%;
    text-align: center;

    border-radius: 0.5ch;
}

.item-img img{ 
    max-height: 100%;
    max-width: 100%;
}

.item-rmv { 
    grid-area: rmv;
    background-color: #EC9E49; 
    border: none;

    border-radius: 3ch 3ch 0ch 3ch;    

    max-width: 60%;
    max-height: 100%;
    font-size: large;

    overflow: hidden;

    box-shadow: 0 2px 4px black; 
}

    .item-rmv button {
        border: none;
        background-color: transparent;
        max-width: 100%;
        max-height: 100%;
        font-family: 'Futura Bk BT';
        color: white;
    }

.checkout-cnt{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center; 
}

.checkout-cnt div{
    margin: 1ch 2ch;

    box-sizing: border-box; 

    border-radius: 2ch 2ch 0ch 2ch; 
    
    box-shadow: 0 2px 4px black;

    font-family: 'Futura Bk BT';

    font-size: x-large;

    height: 5ch;

    display: flex; 

    align-items: center; 
  
    justify-content: center; 
  
    flex:0.2
}

.checkout-btn{
    background-color: #EC9E49; 
}

.total-cnt{
    background-color: lightgray;
}


@media screen and (max-width: 1120px) {
    
    .item-cnt{
        width: 40%;
    }

    .checkout-cnt div{
        font-size: large;
    }
}

@media screen and (max-width: 840px) {
    
    .item-cnt{
        width: 60%;
    }

    .checkout-cnt{
        width: 100%;
    }

    .checkout-cnt div{
        flex: 0.25;
    }
}

@media screen and (max-width: 620px) {
    
    .item-cnt{
        width: 80%;
    }

    .checkout-cnt div{
        font-size: medium;
        flex: 0.4;

    }

    .checkout-cnt{
        width: 100%;
    }
}